.container{
    margin:  0 auto;
}
.top{
    background-color: rgb(243, 93, 93);
 height: 80px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    line-height: 100px;
margin-bottom: 20px;}
.left{
    background-color: rgb(238, 157, 157);
    border-radius: 10px;
    height: 585px;
    width: 30%;
    float: left;
    margin-bottom: 20px;
}
.right{
    height: 585px;
    width: 69%;
    float: right;
}
iframe{
    width:100%;
    height: 100%;
}
.fullbox li{
    list-style: none;

}
.fullbox li a{
text-decoration: none;
width: 20%;
font-variant: small-caps;}

h5{
    font-size: 19px;

}
.fullbox ul li a{
    display: block;
    padding-top: 10px;
    margin-bottom: 10px;
}
.fullbox ul li a:hover{
    color:red;
    background-color: rgb(238, 157, 157);
    font-size:20px;
}
a{
    color:red;
    background-color:rgb(238, 157, 157);
    display: block;
   
}
a:hover{
    color:red;
    background-color: rgb(238, 157, 157);
    font-size:20px;
}
footer{
    clear: both;
    background-color: rgb(243, 93, 93);
    height: 80px;
    
}
footer h5{
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 19px;
    padding-top: 10px;
}